name: build
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
env:
    DATABASE_URL: "exanmplexoi4hfiohfoiuq2h4tg98oq2hftiolkq32hfoiuqhwpoi;"
jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: node:20
        steps:
            - uses: actions/checkout@v3
              with:
                node-version: '20'
            - run : npm i -g pnpm
            - run: pnpm install
            - run: npm run build
              
